@{
    ViewData["Title"] = "Läsmaterial";
}
<link rel="stylesheet" href="~/css/ReadingMaterial.css" asp-append-version="true"/>
<div>
	<div class="readingMaterialSlideCont">
        @foreach (var readingMaterials in Model.ReadingMaterials)
        {
            
                <div class="mySlides fade">
                    <div class="numberText">@readingMaterials.PageNumber/@Model.ReadingMaterials.Count</div>
                    <div class="materialName">@readingMaterials.Name</div>            
                    <img class="slideImg" src="@readingMaterials.ImageUrl"/>
                    <div class="materialText">@readingMaterials.Content</div>
                    <button onclick="location.href='@Url.Action("TestStartPage", "Test", new {id = readingMaterials.EpisodeId})'"> </button>
                </div>
           
        }
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div style="text-align:center">
        @for (int i = 0; i < Model.ReadingMaterials.Count; i++)
        {
            <span class="dot" onclick="currentSlide(@(i + 1))"></span>
        }
    </div>
</div>
<script src="/js/Redaingmaterial.js"></script>
