@using System.Text.Json
@using SecurityEducation.Dtos

@{
    ViewData["Title"] = "Kapitel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* @{
    var chapters = JsonSerializer.Serialize((List<ChapterDto>)Model.Chapters);
    
} *@
<link rel="stylesheet" href="~/css/chapter.css" asp-append-version="true" />
<div>
    <h2>Välj kapitel</h2>
</div>
<div class="chapter-container">
    @foreach (var chapter in Model.Chapters)
    {
        <div data-chapter-div="@chapter.Id" class="chapter-div" style="cursor: pointer;" onclick="location.href = '@Url.Action("Episodes", "Episode", new { id = chapter.Id })'">
            <p class="chapter-name">@chapter.Name</p>
			<p class="estimated-time">Uppskattad tidsåtgång: ca @chapter.EstimatedTime</p>
            <div class="result-div" data-result-div="@chapter.Id">
                <p class="completed"></p>
                <p class="completed-episodes"></p>
            </div>
            <img alt=" @chapter.ImageAltText" src ="@chapter.ImageUrl" />
            <p class="chapter-description">@chapter.Description</p>
            <p class="enter-chapter">Öppna kapitel</p>
        </div>
    }
    <div id="examination">
        <div class="chapter-div" style="cursor: pointer;" onclick="location.href = '@Url.Action("Examination", "Test")'">
            <p class="exam-name">Slutprov</p>
            <div class="result-div" style="margin-bottom:35px;">
                <p class="completed"></p>
                
            </div>
            <img src="~/images/Kotte_med_dator_halvkropp.png" />
            <p class="chapter-description">Här får du sätta dina kunskaper på prov! Detta prov blandar frågor från samtliga kapitel och är sista steget för att klara utbildningen</p>
            <p class="enter-exam">Öppna slutprov</p>
        </div>
    </div>
</div>
<div class="button-container">
    <button aria-label="Gå tillbaka till startsidan" id="back-btn" onclick="history.back()">Gå tillbaka till startsidan</button>
</div>

<script>
    var chapters = @Html.Raw(JsonSerializer.Serialize((List<ChapterDto>)Model.Chapters));
</script>

<script src="~/js/Chapter.js"></script>